<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-for="num in numbers"
        @click="addBox(num)">
        {{ num }}
        </button>

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                numbers: [0,1,2,3,4,5,6,7,8,9],
                boxes: [],
                lastId: 0
            },
            methods:{
                addBox: function(num){
                    this.boxes.push({
                        id: this.lastId++,
                        num: num
                    })
                }
            }
        })
    </script>
    
</body>
</html>